{% extends 'frontend/base.html.twig' %}

{%- set page_title_key = 'frontend.pages.export_spreadsheet.title' -%}

{% block head %}
    {{ parent() }}
    <meta http-equiv="refresh" content="5;" />
{% endblock %}

{% block content %}
    <p class="govuk-body">
        Please wait - exporting spreadsheet.<br>

        {% if (jobStatus ?? null) is null %}
            Job not found.<br>
        {% else %}
            Job status: {{ jobStatus.state.value }}<br>
        {% endif %}
    </p>

    {%- if downloadUrl -%}
        <script nonce="{{ csp_nonce('script') }}">
            const iframe = document.createElement('iframe')
            iframe.style.display = 'none'
            iframe.src = '{{ downloadUrl }}'
            document.body.appendChild(iframe)

            setTimeout(() => {
                window.location.href = '{{ redirectUrl }}'
            }, 1500)
        </script>

        <p class="govuk-body">
            Your spreadsheet is ready and your download will start automatically. If it does not, please <a href="{{ downloadUrl }}" target="_blank">click here</a> to download.
        </p>
    {%- endif -%}
{% endblock %}

