{%- extends 'frontend/base.html.twig' -%}

{%- set page_title = linksBuilder.breadcrumbTitleFor('fund_return') -%}
{%- set page_heading_class = 'govuk-heading-l' -%}

{%- block content -%}
    {%- from "@GhostGovUkFrontend/components/macros.html.twig" import summaryList -%}
    {%- from "frontend/macros.html.twig" import displayCardForReturn, displaySectionsAsTabs, textValue -%}

    {# -- DETAILS ---------------------------------------------------------------------------------------------------- #}

    {# @var fundReturn \App\Entity\FundReturn\CrstsFundReturn #}

    {%- set baseOptions = {return: fundReturn, is_expense: false} -%}
    {%- set configs = [] -%}

    {%- if fundReturn.state != 'initial' -%}
        {%- include 'frontend/includes/eligibility_issues_banner.html.twig' -%}

        <div class="govuk-!-margin-bottom-9">
            <h2 class="govuk-heading-m">{{ 'frontend.pages.fund_return.titles.fund_details' | trans }}</h2>

            {{- displayCardForReturn(
                fundReturn,
                'frontend.pages.fund_return.titles.basic_details' | trans,
                'basic_details',
                summaryList({rows: [
                    {key: {text: 'frontend.pages.fund_return.sign_off' | trans}, value: {html: block('signoffValue')}},
                ]}),
                {
                    add_edit_link: false
                }
            ) -}}

            {{- displayCardForReturn(
                fundReturn,
                'frontend.pages.fund_return.titles.overall_progress' | trans,
                'overall_progress',
                _self.overallProgressContent(fundReturn)
            ) -}}

            {{- displayCardForReturn(
                fundReturn,
                'frontend.pages.fund_return.titles.local_and_rdel' | trans,
                'local_and_rdel',
                summaryList({rows: {
                    ('frontend.pages.fund_return.local_contribution' | trans): textValue(fundReturn.localContribution),
                    ('frontend.pages.fund_return.resource_funding' | trans): textValue(fundReturn.resourceFunding),
                }})
            ) -}}

            {{- displayCardForReturn(
                fundReturn,
                'frontend.pages.fund_return.titles.comments' | trans,
                'comments',
                summaryList({rows: {
                    ('frontend.pages.fund_return.comments' | trans): textValue(fundReturn.comments),
                }})
            ) -}}
        </div>

        {# -- EXPENSES --------------------------------------------------------------------------------------------------- #}

        {%- set sections = [] -%}

        {% set selectedTabIndex = 0 %}
        {%- for division in expensesTableHelper.divisionConfigurations -%}
            {%- do expensesTableHelper.setDivisionKey(division.key) -%}
            {%- set sections = sections|merge([{
                label: division.label | trans,
                id: 'expenses-' ~ division.key,
                panel: {html: block('expenseTabContents')},
            }]) -%}

            {% if division.key == returnYearDivisionKey %}
                {% set selectedTabIndex = loop.index0 %}
            {% endif %}
        {%- endfor -%}

        {{- displaySectionsAsTabs(sections, 'frontend.pages.fund_return.titles.expenses' | trans, selectedTabIndex) -}}

        {# -- SCHEMES ---------------------------------------------------------------------------------------------------- #}

        <h2 class="govuk-heading-m">{{ 'frontend.pages.fund_return.titles.schemes' | trans }}</h2>

        {%- from '@GhostGovUkFrontend/components/macros.html.twig' import tableRow, tag, summaryListActionsList -%}
        {%- from "@GhostGovUkCore/list-page.html.twig" import listTableStart, listTableEnd -%}

        {%- set listData = schemeListPage.data -%}
        {%- set listForm = schemeListPage.filtersForm.createView -%}

        {#    {%- form_theme listForm '@GhostGovUkFrontend/theme.html.twig' -%}#}

        <div class="scheme-list" id="scheme-list">
            {{- listTableStart(listData, listForm) -}}
            {%- for result in listData.entities -%}
                {%- set actions = is_granted('CAN_VIEW', result.schemeReturn) ? [
                    {
                        href: path(schemeViewRoute, {fundReturnId: fundReturn.id, schemeId: result.scheme.id}),
                        html: 'common.actions.view' | trans ~ '<span class="govuk-visually-hidden">' ~ result.scheme.name ~ '</span>',
                    },
                ] : [] -%}
                {%- set nameHtml %}<div class="govuk-!-font-weight-bold">{{ result.scheme.name }}</div>{% endset -%}
                {%- set readyForSignoffHtml -%}
                    {%- if result.schemeReturn is not null -%}
                        {{ (result.schemeReturn.readyForSignoff ? 'common.text.yes' : 'common.text.no') | trans }}
                    {%- else -%}
                        {{ '-' }}
                    {%- endif -%}
                {%- endset -%}
                {%- set onTrackHtml -%}
                    {%- if result.schemeReturn is not null -%}
                        {%- set ratingEnum = result.schemeReturn.onTrackRating -%}
                        {{- ratingEnum is null ? '-' : tag({text: "enum.on_track_rating_shortened.#{ratingEnum.value}" | trans, classes: ratingEnum.tagClass}) -}}
                    {%- else -%}
                        {{ '-' }}
                    {%- endif -%}
                {%- endset -%}
                {{- tableRow([
                    {html: nameHtml},
                    {html: readyForSignoffHtml},
                    {text: (result.schemeReturn.scheme.crstsData.retained ? 'common.scheme.retained' : 'common.scheme.non_retained') | trans},
                    {html: onTrackHtml},
                    {html: summaryListActionsList(actions)},
                ]) -}}
            {%- else -%}
                {{- tableRow([
                    {
                        text: 'common.text.no_results' | trans,
                        colspan: listData.fields | length + 1,
                    }
                ]) -}}
            {%- endfor -%}
            {{- listTableEnd(listData, listForm) -}}
        </div>
    {%- else -%}
        {# == FUND RETURN IN INITIAL STATE =============================================================================== #}

        {# -- BASELINES -------------------------------------------------------------------------------------------------- #}
        {%- set sections = [] -%}

        {% set selectedTabIndex = 0 %}
        {%- for division in expensesTableHelper.divisionConfigurations -%}
            {%- do expensesTableHelper.setDivisionKey(division.key) -%}
            {%- set sections = sections|merge([{
                label: division.label | trans,
                id: 'baselines-' ~ division.key,
                panel: {html: block('baselineTabContents')},
            }]) -%}
            {% if division.key == returnYearDivisionKey %}
                {% set selectedTabIndex = loop.index0 %}
            {% endif %}
        {%- endfor -%}

        {{- displaySectionsAsTabs(sections, 'frontend.pages.fund_return.titles.baselines' | trans, selectedTabIndex) -}}

        {%- from "frontend/macros.html.twig" import renderTable -%}

        <div>
            <h2 class="govuk-heading-m">Milestone baselines</h2>
            {{- renderTable(milestonesTable) -}}
        </div>
    {%- endif -%}

    {%- set buttonsAndLinks -%}
        {%- if fundReturn.state == 'open' and not is_granted('CAN_RETURN_BE_SIGNED_OFF', fundReturn) -%}
            <a class="govuk-button govuk-button--warning" href="{{ path(signoffIssuesRoute, {fundReturnId: fundReturn.id}) }}">{{ 'frontend.pages.signoff_issues.title' | trans }}</a>
        {%- elseif is_granted('CAN_SIGN_OFF_RETURN', fundReturn) and is_granted('CAN_RETURN_BE_SIGNED_OFF', fundReturn) -%}
            <a class="govuk-button" href="{{ path('app_fund_return_signoff', {fundReturnId: fundReturn.id}) }}">{{ 'frontend.pages.fund_return.sign_off_and_submit' | trans }}</a>
        {%- endif -%}

        {%- if is_granted('CAN_REOPEN_RETURN', fundReturn) -%}
            <a class="govuk-button" href="{{ path('app_fund_return_reopen', {fundReturnId: fundReturn.id}) }}">{{ 'frontend.pages.fund_return.reopen_return' | trans }}</a>
        {%- endif -%}
        {%- if fundReturn.state == 'initial' -%}
            <a href="{{ path('admin_dashboard') ~ '#latest-' ~ fundReturn.fund.value }}">{{ 'frontend.pages.fund_return.back_to_latest_returns' | trans }}</a>
        {%- endif -%}
        {%- if is_granted('CAN_EXPORT_SPREADSHEET', fundReturn) -%}
            <p class="govuk-body">
                <a class="govuk-button" href="{{ path(exportSpreadsheetRoute, {fundReturnId: fundReturn.id}) }}">Export spreadsheet</a>
            </p>
        {%- endif -%}
    {%- endset -%}

    {%- if buttonsAndLinks is not empty -%}
        <p class="govuk-body">{{ buttonsAndLinks }}</p>
    {%- endif -%}
{%- endblock -%}

{% block expenseTabContents %}
    {%- from "frontend/macros.html.twig" import renderTable -%}
    {%- from "frontend/macros.html.twig" import expenseDivisionComments -%}
    {%- if is_granted('CAN_EDIT', fundReturn) -%}
        {%- set url = section_edit_path(fundReturn, division.key, true) -%}
        <div class="expenses-links">
            <a class="govuk-link" href="{{ url }}">{{ 'common.actions.edit' | trans }} <span class="govuk-visually-hidden">{{ division.label | trans }}</span></a>
        </div>
    {%- endif -%}
    {%- set table = expensesTableCalculator.calculate(expensesTableHelper.getTable(), fundReturn) -%}
    {{- renderTable(table) -}}
    {{- expenseDivisionComments(fundReturn, division) -}}
{% endblock %}

{% block baselineTabContents %}
    {%- from "frontend/macros.html.twig" import renderTable -%}
    {%- from "frontend/macros.html.twig" import expenseDivisionComments -%}
    {%- if is_granted('CAN_EDIT_BASELINES', fundReturn) -%}
        {%- set url = path('admin_fund_return_baselines_edit', {fundReturnId: fundReturn.id, divisionKey: division.key}) -%}
        <div class="expenses-links">
            <a class="govuk-link" href="{{ url }}">{{ 'common.actions.edit' | trans }} <span class="govuk-visually-hidden">{{ division.label | trans }}</span></a>
        </div>
    {%- endif -%}
    {%- set table = expensesTableCalculator.calculate(expensesTableHelper.getTable(), fundReturn) -%}
    {{- renderTable(table) -}}
{% endblock %}

{%- macro overallProgressContent(fundReturn) -%}
    {%- from '@GhostGovUkFrontend/components/macros.html.twig' import summaryList -%}
    {%- from 'frontend/macros.html.twig' import textValue, ratingTagValue -%}
    {{- summaryList({rows: {
        0: {key: {text: 'frontend.pages.fund_return.overall_confidence' | trans}, value: {html: ratingTagValue(fundReturn.overallConfidence)}},
        ('frontend.pages.fund_return.overall_progress_summary' | trans): textValue(fundReturn.progressSummary),
        ('frontend.pages.fund_return.overall_delivery_confidence' | trans): textValue(fundReturn.deliveryConfidence),
    }}) -}}
{%- endmacro -%}

{%- block signoffValue -%}
    {%- if (fundReturn.signoffDate ?? false) -%}
        <a href="
            {{- fundReturn.signoffUser and (userViewRoute ?? false)
                ? path(userViewRoute, {authorityId: fundReturn.fundAward.authority.id, userId: fundReturn.signoffUser.id})
                : "mailto:#{fundReturn.signoffEmail}"
            -}}">
            {{- fundReturn.signoffName -}}
        </a> ({{ fundReturn.signoffDate | date('format.date-time.default' | trans) -}})
    {%- else -%}
        -
    {%- endif -%}
{%- endblock -%}
