{%- extends 'admin/base.html.twig' -%}

{%- set page_title_key = 'pages.data_export_queue.title' -%}
{%- set current_menu = 'data_export' -%}

{%- set jobStatus = jobStatus ?? null -%}
{%- set isFailed = jobStatus and jobStatus.state.value == 'failed' -%}

{% block head %}
    {{ parent() }}
    {%- if not isFailed -%}
        <meta http-equiv="refresh" content="5;" />
    {%- endif -%}
{% endblock %}

{% block content %}
    {%- from "/macros.html.twig" import jobStatusSpinner, autoDownloadScript, fallbackDownloadLink -%}

    {%- if isFailed %}
        <p class="govuk-body">Data export failed</p>
        <p class="govuk-body">
            <a href="{{ path('admin_data_export') }}" class="govuk-button">Try again</a>
        </p>
    {%- else -%}
        {{- jobStatusSpinner(
            jobStatus,
            'Initialising...',
            'Generating data export...',
            'Downloading data export...'
        ) -}}

        {%- if downloadUrl -%}
            {{ autoDownloadScript(downloadUrl, redirectUrl) }}
            {{ fallbackDownloadLink(downloadUrl) }}
        {%- endif -%}
    {%- endif -%}
{% endblock %}