{%- extends 'frontend/base.html.twig' -%}

{%- set page_title = breadcrumbBuilder.titleFor('fund_return') -%}
{%- set page_heading_class = 'govuk-heading-l' -%}

{%- block content -%}
    {%- from "@GhostGovUkFrontend/components/macros.html.twig" import summaryListStart, summaryListEnd, summaryListRow -%}
    {%- from "frontend/macros.html.twig" import displayCardsForReturn, displaySectionsInline, displaySectionsAsTabs, ratingTag, text -%}

    {# -- DETAILS ---------------------------------------------------------------------------------------------------- #}

    {# @var fundReturn \App\Entity\FundReturn\CrstsFundReturn #}

    {%- set baseOptions = {return: fundReturn, is_expense: false} -%}
    {%- set configs = [] -%}

    {%- set contents -%}
        {{- summaryListStart() -}}
        {{- text('frontend.pages.fund_return.lead_contact', fundReturn.fundAward.leadContact.name) -}}
        {{- summaryListRow({key: 'frontend.pages.fund_return.sign_off' | trans, value: _self.signoff(fundReturn.signoffDate, fundReturn.signoffName, fundReturn.signoffUser ?? fundReturn.signoffEmail)}) -}}
        {{- summaryListEnd() -}}
    {%- endset -%}

    {%- set configs = configs|merge([{
        title: 'frontend.pages.fund_return.titles.basic_details' | trans,
        section: 'basic_details',
        contents,
        options: {add_edit_link: false},
    }]) -%}

    {%- if is_granted('CAN_VIEW', {subject: fundReturn, section: 'overall_progress'}) -%}
        {%- set contents -%}
            {{- summaryListStart() -}}
            {{- ratingTag('frontend.pages.fund_return.overall_confidence', fundReturn.overallConfidence) -}}
            {{- text('frontend.pages.fund_return.overall_progress_summary', fundReturn.progressSummary) -}}
            {{- text('frontend.pages.fund_return.overall_delivery_confidence', fundReturn.deliveryConfidence) -}}
            {{- summaryListEnd() -}}
        {%- endset -%}

        {%- set configs = configs|merge([{
            title: 'frontend.pages.fund_return.titles.overall_progress' | trans,
            section: 'overall_progress',
            contents,
        }]) -%}
    {%- endif -%}

    {%- if is_granted('CAN_VIEW', {subject: fundReturn, section: 'quarterly_progress'}) -%}
        {%- set contents -%}
            {{- summaryListStart() -}}
            {{- ratingTag('frontend.pages.fund_return.quarterly_progress_rating', fundReturn.ragProgressRating) -}}
            {{- text('frontend.pages.fund_return.quarterly_progress', fundReturn.ragProgressSummary) -}}
            {{- summaryListEnd() -}}
        {%- endset -%}

        {%- set configs = configs|merge([{
            title: 'frontend.pages.fund_return.titles.quarterly_progress' | trans,
            section: 'quarterly_progress',
            contents,
        }]) -%}
    {%- endif -%}

    {%- if is_granted('CAN_VIEW', {subject: fundReturn, section: 'local_and_rdel'}) -%}
        {%- set contents -%}
            {{- summaryListStart() -}}
            {{- text('frontend.pages.fund_return.local_contribution', fundReturn.localContribution) -}}
            {{- text('frontend.pages.fund_return.resource_funding', fundReturn.resourceFunding) -}}
            {{- summaryListEnd() -}}
        {%- endset -%}

        {%- set configs = configs|merge([{
            title: 'frontend.pages.fund_return.titles.local_and_rdel' | trans,
            section: 'local_and_rdel',
            contents,
        }]) -%}
    {%- endif -%}

    {%- if is_granted('CAN_VIEW', {subject: fundReturn, section: 'comments'}) -%}
        {%- set contents -%}
            {{- summaryListStart() -}}
            {{- text('frontend.pages.fund_return.comments', fundReturn.comments) -}}
            {{- summaryListEnd() -}}
        {%- endset -%}

        {%- set configs = configs|merge([{
            title: 'frontend.pages.fund_return.titles.comments' | trans,
            section: 'comments',
            contents,
        }]) -%}
    {%- endif -%}

    {{- displayCardsForReturn(
        'frontend.pages.fund_return.titles.fund_details' | trans,
        configs,
        fundReturn
    ) -}}

    {# -- EXPENSES --------------------------------------------------------------------------------------------------- #}

    {%- set sections = [] -%}

    {%- from "frontend/macros.html.twig" import renderTable -%}
    {%- for division in expenseDivisions -%}
        {%- if is_granted('CAN_VIEW', {subject: fundReturn, section: division.key}) -%}
            {%- set divisionConfiguration = fundReturn.findDivisionConfigurationByKey(division.key) -%}
            {%- do expensesTableHelper.setDivisionConfiguration(divisionConfiguration) -%}
            {%- set contents -%}
                {%- set table = expensesTableCalculator.calculate(expensesTableHelper.getTable(), fundReturn) -%}
                {{- renderTable(table) -}}
                {%- set can_edit = is_granted('CAN_EDIT', {subject: fundReturn, section: division.key}) -%}
                {%- if can_edit -%}
                    {%- set url = section_edit_path(fundReturn, division.key, true) -%}
                    <div class="expenses-links">
                        <a class="govuk-link" href="{{ url }}">{{ 'common.actions.edit' | trans }} <span class="govuk-visually-hidden">{{ division.label | trans }}</span></a>
                    </div>
                {%- endif -%}
            {%- endset -%}
            {%- set sections = sections|merge([{
                label: division.label | trans,
                id: 'expenses-' ~ division.key,
                panel: {html: contents},
            }]) -%}
        {%- endif -%}
    {%- endfor -%}

    {{- displaySectionsAsTabs(sections, 'frontend.pages.fund_return.titles.expenses' | trans) -}}

    {# -- SCHEMES ---------------------------------------------------------------------------------------------------- #}

    <h2 class="govuk-heading-m">{{ 'frontend.pages.fund_return.titles.schemes' | trans }}</h2>

    {%- from '@GhostGovUkFrontend/components/macros.html.twig' import tableRow, tag, summaryListActionsList -%}
    {%- from "@GhostGovUkCore/list-page.html.twig" import listTableStart, listTableEnd -%}

    {%- set listData = schemeListPage.data -%}
    {%- set listForm = schemeListPage.filtersForm.createView -%}

    {%- form_theme listForm '@GhostGovUkFrontend/theme.html.twig' -%}

    <div class="scheme-list" id="scheme-list">
    {{- listTableStart(listData, listForm) -}}
    {%- for result in listData.entities -%}
        {%- set actions = is_granted('CAN_VIEW', result.schemeReturn) ? [
            {
                href: path('app_scheme_return', {fundReturnId: fundReturn.id, schemeFundId: result.schemeFund.id}),
                text: 'common.actions.view' | trans,
            },
        ] : [] -%}
        {%- set nameHtml %}<div class="govuk-!-font-weight-bold">{{ result.schemeFund.scheme.name }}</div>{% endset -%}
        {%- set readyForSignoffHtml -%}
            {%- if result.schemeReturn is not null -%}
                {{ (result.schemeReturn.readyForSignoff ? 'common.text.yes' : 'common.text.no') | trans }}
            {%- else -%}
                {{ '-' }}
            {%- endif -%}
        {%- endset -%}
        {%- set onTrackHtml -%}
            {%- if result.schemeReturn is not null -%}
                {%- set ratingEnum = result.schemeReturn.onTrackRating -%}
                {{- ratingEnum is null ? '-' : tag({text: "enum.on_track_rating.#{ratingEnum.value}" | trans, classes: ratingEnum.tagClass}) -}}
            {%- else -%}
                {{ '-' }}
            {%- endif -%}
        {%- endset -%}
        {{- tableRow([
            {html: nameHtml},
            {html: readyForSignoffHtml},
            {text: (result.schemeFund.retained ? 'common.scheme.retained' : 'common.scheme.non_retained') | trans},
            {html: onTrackHtml},
            {html: summaryListActionsList(actions)},
        ]) -}}
    {%- else -%}
        {{- tableRow([
            {
                text: 'common.text.no_results' | trans,
                colspan: listData.fields | length + 1,
            }
        ]) -}}
    {%- endfor -%}
    {{- listTableEnd(listData, listForm) -}}
    </div>


    {#    <p class="govuk-body">#}
{#        <a href="{{ path('app_fund_return_status', {fundReturnId: fundReturn.id}) }}">Status page</a>#}
{#    </p>#}
{%- endblock -%}

{% macro signoff(date, name, link) -%}
    {%- if (date ?? false) -%}
        <a href="{{ link.id ?? false ? "/user/#{link.id}" : "mailto:#{link}" }}">{{ name }}</a> ({{ date | date('format.date-time.default' | trans) -}})
    {%- else -%}
        -
    {%- endif -%}
{%- endmacro %}