{%- extends 'base/scheme_return/view.html.twig' -%}

{%- set page_title = linksBuilder.breadcrumbTitleFor('scheme_return') -%}
{%- set page_heading_class = 'govuk-heading-l' -%}

{%- set previousSchemeLink %}
    {%- if previousAndNextSchemes['previous'] -%}
        <a class="govuk-link" href="{{ path('app_scheme_return', {fundReturnId: fundReturn.id, schemeId: previousAndNextSchemes['previous']}) }}">
            {{- "frontend.pages.scheme.navigation.previous" | trans -}}
        </a>
    {%- endif -%}
{%- endset -%}

{%- set nextSchemeLink -%}
    {%- if previousAndNextSchemes['next'] -%}
        <a class="govuk-link" href="{{ path('app_scheme_return', {fundReturnId: fundReturn.id, schemeId: previousAndNextSchemes['next']}) }}">
            {{- "frontend.pages.scheme.navigation.next" | trans -}}
        </a>
    {%- endif -%}
{%- endset -%}

{%- block pageHeading -%}
    <div class="header-with-links">
        {{ parent() }}
        <div class="govuk-button-group">
            {{ previousSchemeLink }}
            {{ nextSchemeLink }}
        </div>
    </div>
{%- endblock -%}

{%- block content -%}
    {%- set signoffIssuesRoute = 'app_fund_return_signoff_issues' -%}

    {{- parent() -}}

    {%- if is_granted('CAN_MARK_SCHEME_RETURN_AS_READY', schemeReturn) -%}
        <p class="govuk-body">
            <a class="govuk-button"
               href="{{ path('app_scheme_return_mark_as_ready_for_signoff', {fundReturnId: fundReturn.id, schemeId: schemeReturn.scheme.id}) }}"
            >
                {{- 'frontend.pages.scheme_return.mark_as_ready_for_signoff' | trans -}}
                <span class="govuk-visually-hidden">: {{ linksBuilder.breadcrumbTitleFor('scheme_return') }}</span>
            </a>
        </p>
    {%- endif -%}
    {%- if is_granted('CAN_MARK_SCHEME_RETURN_AS_NOT_READY', schemeReturn) -%}
        <p class="govuk-body">
            <a class="govuk-button govuk-button--secondary"
               href="{{ path('app_scheme_return_mark_as_not_ready_for_signoff', {fundReturnId: fundReturn.id, schemeId: schemeReturn.scheme.id}) }}"
            >
                {{- 'frontend.pages.scheme_return.unmark_as_ready_for_signoff' | trans -}}
                <span class="govuk-visually-hidden">: {{ linksBuilder.breadcrumbTitleFor('scheme_return') }}</span>
            </a>
        </p>
    {%- endif -%}


    <div class="govuk-button-group">
        {{ previousSchemeLink }}

        <a href="{{ path('app_fund_return', {fundReturnId: fundReturn.id}) }}#scheme-list" class="govuk-link">
            {{- 'frontend.pages.scheme_return.back_to_fund_return' | trans({fundName: "enum.fund.#{fundReturn.fundAward.type.name}" | trans}) -}}
        </a>

        {{ nextSchemeLink }}
    </div>
{%- endblock -%}
