{%- extends 'base/scheme_return/view.html.twig' -%}

{%- set page_title = linksBuilder.breadcrumbTitleFor('scheme_return') -%}
{%- set page_heading_class = 'govuk-heading-l' -%}

{%- block content -%}
    {%- set signoffIssuesRoute = 'app_fund_return_signoff_issues' -%}

    {{- parent() -}}

    {%- if is_granted('CAN_MARK_SCHEME_RETURN_AS_READY', schemeReturn) -%}
        <p class="govuk-body">
            <a class="govuk-button"
               href="{{ path('app_scheme_return_mark_as_ready_for_signoff', {fundReturnId: fundReturn.id, schemeId: schemeReturn.scheme.id}) }}"
            >
                {{- 'frontend.pages.scheme_return.mark_as_ready_for_signoff' | trans -}}
                <span class="govuk-visually-hidden">: {{ linksBuilder.breadcrumbTitleFor('scheme_return') }}</span>
            </a>
        </p>
    {%- endif -%}
    {%- if is_granted('CAN_MARK_SCHEME_RETURN_AS_NOT_READY', schemeReturn) -%}
        <p class="govuk-body">
            <a class="govuk-button govuk-button--secondary"
               href="{{ path('app_scheme_return_mark_as_not_ready_for_signoff', {fundReturnId: fundReturn.id, schemeId: schemeReturn.scheme.id}) }}"
            >
                {{- 'frontend.pages.scheme_return.unmark_as_ready_for_signoff' | trans -}}
                <span class="govuk-visually-hidden">: {{ linksBuilder.breadcrumbTitleFor('scheme_return') }}</span>
            </a>
        </p>
    {%- endif -%}


    <p class="govuk-body">
        <a href="{{ path('app_fund_return', {fundReturnId: fundReturn.id}) }}#scheme-list" class="govuk-link">
            {{- 'frontend.pages.scheme_return.back_to_fund_return' | trans({fundName: "enum.fund.#{fundReturn.fundAward.type.name}" | trans}) -}}
        </a>
    </p>
{%- endblock -%}
