{%- extends 'frontend/base.html.twig' -%}

{%- set page_title = 'frontend.pages.users.title' | trans({authorityName: authority.name}) -%}
{%- set page_heading_class = 'govuk-heading-l' -%}
{%- set current_menu = 'users' -%}

{% block content %}
    {%- from '@GhostGovUkFrontend/components/macros.html.twig' import tableRow, tag, summaryListActionsList -%}
    {%- from "@GhostGovUkCore/list-page.html.twig" import listTableStart, listTableEnd -%}
    {%- from "frontend/macros.html.twig" import textValue -%}

    {%- set listData = listPage.data -%}
    {%- set listForm = listPage.filtersForm.createView -%}

    {%- form_theme listForm '@GhostGovUkFrontend/theme.html.twig' -%}

    <div class="scheme-list" id="scheme-list">
        {{- listTableStart(listData, listForm) -}}
        {%- for user in listData.entities -%}
            {%- set actions = [
                {
                    href: path('app_user_view', {authorityId: authority.id, userId: user.id}),
                    text: 'common.actions.view' | trans,
                }
            ] -%}
            {{- tableRow([
                {text: user.name},
                {text: user.email},
                {text: _self.dateValue(user.lastLogin)},
                {html: summaryListActionsList(actions)},
            ]) -}}
        {%- else -%}
            {{- tableRow([
                {
                    text: 'common.text.no_results' | trans,
                    colspan: listData.fields | length + 1,
                }
            ]) -}}
        {%- endfor -%}
        {{- listTableEnd(listData, listForm) -}}
    </div>

    <div class="govuk-button-group">
        <a class="govuk-button" href="{{ path('app_user_add', {authorityId: authority.id}) }}">{{ 'frontend.pages.user.add_user' | trans }}</a>
    </div>
{% endblock %}

{%- macro dateValue(dateValue) -%}
    {{- dateValue ? dateValue | date('format.date-time.default' | trans) : '-' -}}
{% endmacro %}
