{% extends 'base.html.twig' %}

{% block pageTitle %}{{ "frontend.pages.#{current_page}.title" | trans(page_title_params ?? {}) }} | {{ parent() }}{% endblock %}

{% set current_page_title = current_page_title ?? "frontend.pages.#{current_page}.title" %}

{% block navigation %}
    {% if is_granted('ROLE_USER') %}
        {%- from "@GhostGovUkFrontend/components/macros.html.twig" import serviceNavigation -%}

        {%- set signOutLink -%}
            <li class="govuk-service-navigation__item govuk-service-navigation__margin-left-auto">
                <a class="govuk-service-navigation__link" href="{{ path('app_logout') }}">{{ 'auth.sign_out' | trans }}</a>
            </li>
        {%- endset %}

        {%- set current_menu = current_menu ?? current_page -%}

        {{- serviceNavigation({
            classes: 'govuk-service-navigation__wrapper-full-width',
            serviceName: 'site.title' | trans,
            navigation: [
                {
                    href: path('app_dashboard'),
                    text: "frontend.pages.dashboard.title" | trans,
                    active: current_menu == 'dashboard',
                },
                {
                    href: "#",
                    text: "Item 2",
                    active: current_menu == 'item-2',
                }
            ],
            slots: {
                navigationEnd: signOutLink
            }
        }) -}}
    {% endif %}
{% endblock %}
