{%- extends 'base.html.twig' -%}

{%- block javascripts -%}
    {{- parent() -}}
    {{- include('includes/smartlook-session-recording.html.twig') -}}
{%- endblock -%}

{%- block navigation -%}
    {%- if is_granted('ROLE_USER') -%}
        {%- from "@GhostGovUkFrontend/components/macros.html.twig" import serviceNavigation -%}

        {%- set rightLinks -%}
            {%- for link in linksBuilder.rightNavLinks -%}
                <li class="govuk-service-navigation__item{% if loop.first %} govuk-service-navigation__margin-left-auto{% endif %}">
                    <a class="govuk-service-navigation__link" href="{{ link.href }}">{{ link.text }}</a>
                </li>
            {%- endfor -%}
        {%- endset -%}

        {%- set current_menu = current_menu ?? null -%}

        {% set pathParts = app.request.pathInfo | split('/') | filter(p => not p is empty) %}

        {{- serviceNavigation({
            classes: 'govuk-service-navigation__wrapper-full-width',
            serviceName: 'site.title' | trans,
            navigation: linksBuilder.navLinks(current_menu),
            slots: {
                navigationEnd: rightLinks
            }
        }) -}}
    {%- endif -%}
{%- endblock -%}
