{%- extends 'frontend/base.html.twig' -%}

{%- set page_title = breadcrumbBuilder.titleFor('project_return') -%}
{%- set page_heading_class = 'govuk-heading-m' -%}

{%- block content -%}
    {% from "@GhostGovUkFrontend/components/macros.html.twig" import taskListStart, taskListEnd, taskListItem %}

    {%- set visibleProjectLevelSections = projectLevelSectionsConfiguration
        | filter(c => c.isDisplayedInExpensesList == false)
        | filter(c => is_granted('CAN_VIEW', {subject: projectReturn, section: c.section.value}))
    -%}

    {%- if visibleProjectLevelSections is not empty -%}
        <h2 class="govuk-heading-s">{{ 'frontend.pages.project_return.project_level_details' | trans }}</h2>
        {{- taskListStart() -}}
        {{- _self.projectLevelSectionsList(_context, visibleProjectLevelSections) -}}
        {{- taskListEnd() -}}
    {%- endif -%}

    {%- set visibleProjectLevelSectionsDisplayInExpensesList = projectLevelSectionsConfiguration
        | filter(c => c.isDisplayedInExpensesList == true)
        | filter(c => is_granted('CAN_VIEW', {subject: projectReturn, section: c.section.value}))
    -%}

    {%- set visibleExpenseDivision = expenseDivisions | filter(d => is_granted('CAN_VIEW', {subject: projectReturn, section: d.key})) %}

    {%- if visibleProjectLevelSectionsDisplayInExpensesList is not empty
        or visibleExpenseDivision is not empty
    -%}
        <h2 class="govuk-heading-s">{{ 'frontend.pages.project_return.project_level_expenses' | trans }}</h2>
        {{- taskListStart() -}}
        {# We want to show some of the projectLevelSection items in the expenses area, because although they are not
           expenses in the entity sense, they ask financial questions that are expense-related.
        #}
        {{- _self.projectLevelSectionsList(_context, visibleProjectLevelSectionsDisplayInExpensesList) -}}

        {%- for division in visibleExpenseDivision -%}
            {%- set status = projectReturn.getStatusForSection(division) -%}
            {{- taskListItem({
                title: {text: division.label | trans},
                href: path('app_project_return_expense_edit', {fundReturnId: fundReturn.id, projectFundId: projectReturn.projectFund.id, divisionKey: division.key}),
                status: {tag: {
                    text: "tags.#{status.value}.name" | trans,
                    classes: "govuk-tag--" ~ ("tags.#{status.value}.colour" | trans),
                }},
            }, loop.index0) -}}
        {%- endfor -%}
        {{- taskListEnd() -}}
    {%- endif -%}
{% endblock %}

{% macro projectLevelSectionsList(context, configurations) %}
    {%- from "@GhostGovUkFrontend/components/macros.html.twig" import taskListStart, taskListEnd, taskListItem -%}

    {%- for configuration in configurations -%}
        {%- set section = configuration.section -%}
        {%- set status = context.projectReturn.getStatusForSection(section) -%}

        {{- taskListItem({
            title: {text: "sections.project.#{section.value}" | trans},
            href: path('app_project_return_edit', {fundReturnId: context.fundReturn.id, projectFundId: context.projectReturn.projectFund.id, section: section.value}),
            status: {tag: {
                text: "tags.#{status.value}.name" | trans,
                classes: "govuk-tag--" ~ ("tags.#{status.value}.colour" | trans),
            }},
        }, loop.index0) -}}
    {%- endfor -%}
{% endmacro %}