{%- extends "@GhostGovUkCore/base.html.twig" -%}

{%- set page_title_domain = page_title_domain ?? 'messages' -%}
{%- if page_title is not defined -%}
    {%- set page_title = page_title_key | trans(page_title_params ?? {}, page_title_domain) -%}
{%- endif -%}

{%- set page_title_suffix = page_title_suffix ?? (' | ' ~ ('site.title' | trans)) -%}

{%- block pageTitle %}{{ page_title }}{{ page_title_suffix ?? '' }}{% endblock -%}

{% block head %}
    {%- block stylesheets -%}
        {{- encore_entry_link_tags('app', attributes={
            nonce: csp_nonce('style')
        }) -}}
    {%- endblock -%}
    {% if env_google_site_verification ?? false %}<meta name="google-site-verification" content="{{ env_google_site_verification }}" />{% endif %}
{% endblock %}

{% block bodyEnd %}
    {%- block javascripts -%}
        {{- encore_entry_script_tags('app', attributes={
            nonce: csp_nonce('script')
        }) -}}
    {%- endblock -%}
{% endblock %}

{% block headIcons %}
    <link rel="icon" sizes="48x48" href="{{ asset('build/images/favicon.ico') }}">
    <link rel="icon" sizes="any" href="{{ asset('build/images/favicon.svg') }}" type="image/svg+xml">
    <link rel="mask-icon" href="{{ asset('build/images/govuk-icon-mask.svg') }}" color="{{ themeColor ?? "#0b0c0c" }}"> {#- Hardcoded value of $govuk-black #}
    <link rel="apple-touch-icon" href="{{ asset('build/images/govuk-icon-180.png') }}">
    {# N.B. This is not a valid PWA manifest, but rather a webpack manifest #}
    {#    <link rel="manifest" href="{{ asset('build/manifest.json') }}">#}
{% endblock %}

{%- block headerStart -%}
    {%- if env_label_frontend ?? false -%}
        <style nonce="{{ csp_nonce('style') }}">
            #envLabel {
                {% if env_label_colour ?? false %}color: {{ env_label_colour }};{% endif %}
                {% if env_label_background ?? false %}background: {{ env_label_background }};{% endif %}
            }
            #session-reminder {display:none;}
        </style>
        <div class="govuk-warning-header" id="envLabel">
            {{ env_label_frontend | raw }}
        </div>
    {%- endif -%}
{%- endblock -%}

{%- block headerBar -%}
    {%- from "@GhostGovUkFrontend/components/macros.html.twig" import header -%}
    {{- header({
        classes: 'govuk-header--full-width-border'
    }) -}}
{%- endblock -%}

{%- block beforeMainWrapper -%}
    {%- from "@GhostGovUkFrontend/components/macros.html.twig" import breadcrumbs as breadcrumbsComponent -%}

    {{- parent() -}}

    {%- if breadcrumbs is not defined and linksBuilder is defined -%}
        {%- set breadcrumbs = linksBuilder.breadcrumbs -%}
    {%- endif -%}

    {%- if (breadcrumbs ?? []) | length > 1 -%}
        {{- breadcrumbsComponent({items: breadcrumbs}) -}}
    {%- endif -%}
{%- endblock -%}

{%- block beforeContent -%}
    {%- set blockOverride = block('originalBeforeContent') ?? null -%}
    {{- blockOverride ? (blockOverride | raw) : parent() -}}

    {%- from '@GhostGovUkFrontend/components/macros.html.twig' import notificationBanner -%}
    {%- if maintenanceWarningBanner ?? null -%}
        {{- notificationBanner(maintenanceWarningBanner) -}}
    {%- endif -%}

    {%- if page_heading is not defined -%}
        {%- set page_heading = page_heading_key is defined ?
            page_heading_key | trans(page_heading_params ?? {}, page_heading_domain ?? page_title_domain) :
            page_title
        -%}
    {%- endif -%}

    {%- block pageHeading -%}
        <h1 class="{{ page_heading_class ?? 'govuk-heading-l' }}">{{ page_heading }}</h1>
    {%- endblock -%}
{%- endblock -%}

{% block footer %}
    {%- import '@GhostGovUkFrontend/components/macros.html.twig' as govuk -%}
    {{- govuk.footer({
        meta: {items: [
            {href: path('app_pages_accessibility'), text: 'Accessibility'},
            {href: path('app_pages_privacy'), text: 'Privacy notice'},
        ]}
    }) -}}
{% endblock %}
