{%- extends "@GhostGovUkCore/base.html.twig" %}

{%- block pageTitle %}{{ 'site.title' | trans }}{% endblock -%}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}

{% block beforeContent %}
    {{ parent() }}

    {% from '@GhostGovUkFrontend/components/macros.html.twig' import notificationBanner %}
    {%- if maintenanceWarningBanner ?? null -%}
        {{- notificationBanner(maintenanceWarningBanner) -}}
    {%- endif -%}

    <h1 class="{{ heading_class ?? 'govuk-heading-l' }}">{{ current_page_title | trans }}</h1>
{% endblock -%}

{%- block headerBar -%}
    {% from "@GhostGovUkFrontend/components/macros.html.twig" import header %}
    {{- header({
        classes: 'govuk-header--full-width-border'
    }) -}}
{%- endblock -%}

{% block phaseBanner %}
    {% block navigation %}{% endblock %}
{% endblock %}
